spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/order_service
        username: root
        password: alone_Hacker/1258

    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                format_sql: true

    flyway:
        enabled: true

inventory:
    service:
        url: http://localhost:8082